body {
    margin: 0;
    font-family: Helvetica;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 20px 250px;
  line-height: 250%;
}

.input {
  margin: 20px 250px;
  line-height: 250%;
}

.text-input {
  width: 100%;
  padding: 5px;
  border: #dbdbdb 0.5px solid;
  border-radius: 3px;
}

.button {
  border: #dbdbdb 0.5px solid;
  border-radius: 3px;
  background-color: white;
  font-family: Helvetica;
  font-style: bold;
  font-size: 15px;
  padding: 5px 15px;
  display: block;
}

table {
  width: 100%;
  border: #dbdbdb 0.5px solid;
  border-radius: 3px;
}

td {
  border-bottom: #dbdbdb 0.5px solid;
  border-right: #dbdbdb 0.5px solid;
  border-radius: 3px;
}

td a {
  text-decoration: none;
  color: black;
  text-align: left;
}