body {
    margin: 0;
    font-family: Helvetica;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 20px 250px;
  line-height: 250%;
}

.input {
  margin: 20px 250px;
  line-height: 250%;
}

.text-input {
  width: 100%;
  padding: 5px;
  border: #dbdbdb 0.5px solid;
  border-radius: 3px;
}

.button {
  border: #dbdbdb 0.5px solid;
  border-radius: 3px;
  background-color: white;
  font-family: Helvetica;
  font-style: bold;
  font-size: 15px;
  padding: 5px 15px;
  display: block;
}

table {
  width: 100%;
  border-top: #dbdbdb 0.5px solid;
  border-left: #dbdbdb 0.5px solid;
  border-radius: 3px;
}

tr {
  text-align: left;
}

td {
  border-radius: 3px;
  border-bottom: #dbdbdb 0.5px solid;
  border-right: #dbdbdb 0.5px solid;
  font-size: 15px;
  padding: 5px;
}

td a {
  text-decoration: underline;
  font-size: 15px;
  color: #337db8;
}

.review-table {
  border: 0;
}

#time {
  /*display: inline-block;*/
  float: right;
}

#review-info td {
  border: 0;
  border-top: #dbdbdb 0.5px solid;
}

#review-comment {
  border: 0;
}

#review-comment tr {
  border: #dbdbdb 0.5px solid;
  border-bottom: 0;
}

#review-comment td{
  border: 0;
}
